<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Niplife</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div ng-controller="NiplifeCtrl">
    
    <div ng-show="episodes.length>0">
		<iframe ng-repeat="episode in episodes" width="100%" height="166" scrolling="no" frameborder="no" ng-click="slidePage('/view3')"
		src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{episode.id}}&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
    </div>

</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>